html{
  height:100%;
  width:100%;
}


body{
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  padding: 20px;
  background-color: #FFDAB9;
  padding: 0px;
  margin: 0px;
  height:100%;
  width:100%;

}

h1{
  padding: inherit;
  border: 2px solid black;
  background-color: red;
}

h3{
  background-color: #ff9900;
}

h2{
  text-align: left;
}

section{
  list-style-type: none;
}

#drank-beer-list{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.grid-container {
  display: grid;
  min-height:100%;
  grid-template-columns: 400px 3fr;
  grid-template-rows: 50px 250px 1fr 1fr;
  height:98vh;
}

.Stats {
  grid-area: 4 / 1 / 5 / 2;
  margin-top: 10px;
}

.Footer { grid-area: 5 / 1 / 6 / 3; }

.beerContent { grid-area: 2 / 2 / 5 / 3;
  overflow-y:scroll;
}


.Form-Grid { grid-area: 3 / 1 / 4 / 2; }

.Logo { grid-area: 2 / 1 / 3 / 2; }

.Logo img {
  height:200px;
  margin:10px;
}

.Header-grid { grid-area: 1 / 1 / 2 / 3; }

.beer{
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  max-width: 300px;
  min-width: 300px;
  box-shadow: 5px 5px 10px black;
}

.beer h3 {
  margin : 0px;
}

.beer li {
  margin-top: 5px;
  margin-bottom: 5px;
}



.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('https://i.gifer.com/wmp.gif');
}

.navbar li{
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: #cc6600;
}

#title h1 {
  display:none;
  padding: inherit;
  border: 2px solid black;
  height: 33px;
  color: #000066;
  border-radius: 10px;
  margin: 0px;
  background-image: url('https://i.gifer.com/wmp.gif');
}

#form {
  background-color: #ff9900;
  text-align: left;
  padding: 20px;
  margin-left:20px;
  border-radius:10px;
}

#form input, select {
  padding:0px;
  margin:2px;
}

.fixedwidth {
width: 100px;

}

#form radio {
  padding: 0px;
}

#save {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  background-color: #ff9900;
}

#save:hover{
  background-color: #cc6600;
}


#save {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  background-color: #ff9900;
}

#save:hover{
  background-color: #cc6600;
}

input {
  position: relative;
  margin: 5px 5px 5px 0px;
}

button {
  width:100px;
  background-color: #ff9900;
  height: 25px;
  border-radius: 15px;
}

button:hover{
  background-color: red;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: right;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


#stats{
  text-align: left;
  border: 2px solid black;
  margin-left: 20px;
  margin-bottom: 20px;
}

#stats ul {
margin: 0px;
font-size: 0.8em;
}


.beerPic img{
  width: 30px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: brown;
   color: white;
   text-align: center;
}

.footer p {margin: 0px;}

#edit-div {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#edit-form {
  position: relative;
  background-color: #FFF8DC;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


#chartdiv {
  height:30vh;
}



#random-beer-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 0;
  width: 20%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#random-main-container h2 {
  display: inline;
}


#random-beer-container {
  background-color: #FFF8DC;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
