body{
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  padding: 20px;

}

h1 {
  padding: inherit;
  border: 2px solid black;
  background-color: red;

}

h3{
  padding: inherit;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: red;
}



h2 {
  text-align: left;
}

section {
  list-style-type: none;
}

#drank-beer-list {
 text-align: left;
 width: 250px;
 border: 2px solid black;
 display: block;
}


#edit-div {
  background: pink;
  width: 500px;
  length: 500px;
}
